<!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
<!--<img style="position: absolute;" class="img-responsive" src="/assets/img/british/Logo_Combined_2014.png">-->
<!--<img style="opacity: .3" class="img-responsive" src="/assets/img/nauvoo-pageant-ensemble-dancing-youth-579076-print.jpg">-->
<!--<html>-->


<div class="container " style="min-width: 320px; max-width: 500px; padding-right: 0px; padding-left: 0px; float: none; margin: 0 auto;">

  <div class="row" style="float: none; margin: 0 auto;">
    <!--<div class="col-xs-12 col-sm-6" style="background-color: #f6f6f6; ">-->
    <div class="nomargin" style="padding-top: 17px" >
    </div>

    <div class="col-xs-12 col-sm-12" >

      <div class="row " style="height: 66px;" >

        <div class="col-xs-5 col-sm-5">
          <img style="position: relative; height: 66px; min-width: 120px" class="img-responsive" src="/assets/img/british/Logo_Combined_2014.png">
        </div>
          <div class="class-f col-xs-7 col-sm-7 text-center" style="height: 66px; display: table; table-layout: fixed; " >
          <!--<h3 class="first-title-font" style="font-size: 10px;">The presidency of the Nauvoo pageant</h3>-->
              <div  style="display: table-cell; vertical-align: middle; text-align: right; " >
                <!--<h3 class="helam-slab name-font-size align-items-center nomargin" style="">John and Peggy Ricks</h3>-->
                <!--<h3 class="helam-slab name-font-size align-items-center nomargin" style="">The presidency of the Nauvoo pageant</h3>-->
                <h3 class="helam-slab name-font-size align-items-center nomargin" style="">{{ name }}</h3>
              </div>
          </div>
        </div>
      <div class="nomargin" style="padding-top: 17px " >
      </div>

      <div style="">
          <div class="row">
            <div class="col-xs-12" style="padding-left: 50px; padding-right: 50px;">
              <img style="position: relative; margin: 0 auto; " class="img-responsive" [src]="imgSource">
            </div>
          </div>
          <div class="row">
            <div style="padding-left: 70px; padding-right: 70px;" class="col-xs-12 text-center">
              <p class="caption-description-font open-sans" style="">{{ caption }}</p>
            </div>
          </div>
      </div>

      <div class="nomargin" style="padding-top: 20px" >
      </div>

      <div class="row">
        <div style="" class="col-xs-12 text-center">
          <p class="nomargin open-sans" style="font-size: 18px">Wishes to invite you to the </p>
        </div>
      </div>
      <div class="row">
         <div style="" class="col-xs-12 text-center open-sans-bold">
           <p class="nomargin" style="font-size: 23px">2017 Nauvoo and British Pageants</p>
         </div>
       </div>
       <div class="row">
         <div style="" class="col-xs-12 text-center open-sans-bold">
           <p class="nomargin" style="font-size: 23px">July 11 - Aug 5, 2017</p>
         </div>
       </div>
      <div class="row">
        <div style="" class="col-xs-12 text-center">
          <p class="nomargin open-sans" style="font-size: 18px">Nauvoo Pageant: Tues, Thurs & Saturday</p>
        </div>
      </div>
      <div class="row">
        <div style="" class="col-xs-12 text-center">
          <p class="nomargin open-sans" style="font-size: 18px">British Pageant: Wed & Friday</p>
        </div>
      </div>

    <div class="nomargin" style="padding-top: 50px" >
    </div>

      <div class="row" >
      <div style="" class="col-xs-12 text-center">
        <p class="nomargin open-sans" style="padding-left: 27px; padding-right: 27px; font-size: 15px; ">{{ paragraph }}</p>
      </div>
    </div>

     <div *ngIf="belowParagraph !== ''">
       <div class="nomargin" style="padding-top: 10px" >
       </div>

       <div class="row">
         <div style="" class="col-xs-12 text-center">
           <p class="nomargin open-sans" style="font-size: 13px ">{{ belowParagraph }}</p>
         </div>
       </div>
     </div>

      <div class="nomargin" style="padding-top: 15px" >
      </div>

      <div class="row">
        <div style="" class="col-xs-12 text-right">
          <a href='mailto:thenauvoopageant@gmail.com?subject=Nauvoo Pageant Invitation Reply'>Comments</a>
          <a target="_blank" href='http://nauvoopageant.org/'>Official Site</a>
          <a target="_blank" href='https://www.facebook.com/NauvooPageant'><img  style="height: 20px; width: 20px;" src="/assets/img/facebook.png"></a>
        </div>
      </div>

      <div class="nomargin" style="padding-top: 10px" >
      </div>

      <div class="row">
        <div style="" class="col-xs-12 text-center">
          <a target="_blank" href="http://invite.nauvoopageant.net/Invitation/Glimpse.htm">
            <img border="0" src="/assets/img/play.png" class="img-responsive" style="padding-right: 30px; padding-left: 30px;" ></a>
        </div>
      </div>

      <div class="nomargin" style="padding-top: 10px" >
      </div>

      <div class="row">
        <div style="" class="col-xs-12 text-center">
          <a target="_blank" href="http://invite.nauvoopageant.net/Invitation/Glimpse.htm">
            <img border="0" src="/assets/img/play.png" class="img-responsive" style="padding-right: 30px; padding-left: 30px;" ></a>
        </div>
      </div>

      <div class="nomargin" style="padding-top: 10px" >
      </div>

  </div>

    <div class="col-xs-12 blue-bg grey-font" style="">
      <div class="row">
        <div style="padding-left: 70px; padding-right: 70px;" class="col-xs-12 text-center">
          <p style="font-size: 13px">President John Ricks (Center) with Counselors Glenn McMinn (Left) and Arch Smith (Right)</p>
        </div>
      </div>
    </div>
  </div>
</div>
